.label_level_error
{
    text-align: left !important;
    color: red;
}
.label_align_left {
	text-align: left !important;
	
}
.spc_name_error{
	margin: 0;
    padding: 0;
}
.label_valid_error{
	color:red;
	padding-top:7px;
}
.sp_course_error{
	color:red;
	margin: 0;
    padding: 0;
}
.group_height {
	height: 50px !important;
}

.td_align_left {
	text-align: left !important;
}

.one_course_name {
	padding-left: 60px;
}

.patern_list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list_course select {
	text-indent: 20px;
	overflow-y: hidden;
	margin: 0px;
	padding: 0px;
}

tr:nth-child(old)>td.group_list>.custom_select {
	background: black !important;
}

.loading  .center {
	z-index: 1000;
	width: 110px;
	background-color: White;
	border-radius: 10px;
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
}

.loading  .center img {
	height: 35px;
	width: 35px;
}