.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p1_le {
     margin-top: -20px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p2_le {
     margin-top: -20px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p3_le {
     margin-top: -20px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p4_le {
     margin-top: -20px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p5_le {
     margin-top: -20px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p6_le {
     margin-top: -20px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p7_le {
     margin-top: -20px;
      margin-left: 31px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p8_le {
     margin-left: 31px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p9_le {
     margin-top: -20px;
     margin-left: 2px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p10_le {
     margin-top: -20px;
     margin-left: 31px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p11_le .s1_le {
     margin-left: 81px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .p11_le {
    /* margin-top: -20px;*/
     margin-left: 31px;
}
.wrapper .container-body-fixed  .main-content .portfolio-unit  .csv-setting .mar_top {
     margin-top: -15px;
}